div {
    margin: auto;
    box-sizing: border-box;
    background: hsl(0, 0%, 80%);
    text-align: center;
    position: relative;
}
div p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    margin: auto;
    width: 480px;
    height: 1055px;
}
#a{
    margin: auto;
    width: 480px;
    height:75px;
    border: 1px solid black;
    border-bottom:0px;
}

#b{
    width:480px ;
    height:150px;
    border: 1px solid black;
    border-bottom:0px;
}#c , #d{
    width: 480px;
    height: 125px;
    border: 1px solid black;
    border-bottom: 0px;
}

#e ,#f , #g , #h{
    width: 240px;
    height: 250px;
    float: left;
    border: 1px solid black;
    border-bottom: 0px;
  
}
#e , #g{
    border-right:0px;
}
#i{
    width:480px;
    height: 80px;
    border: 1px solid black;
    float: left;
}

@media (min-width:768px){
   
    .container{
        margin: auto;
        width: 960px;
        height: 700px;
    }
    #a{
        margin: auto;
        width: 960px;
        height:100px;
        border: 1px solid black;
        border-bottom:0px;
    }
    #b{
        width:200px ;
        height: 600px;
        float: left;
        border: 1px solid black;
        border-right:0px;
    }#c,#d{
        width: 380px;
        height: 200px;
        float: left;
        border: 1px solid black;
        border-bottom: 0px;
    }
    #d{
        border-left: 0px;
    }
    #e,#f,#g,#h{
        width: 190px;
        height: 250px;
        float: left;
        border: 1px solid black;
        border-bottom: 0px;
        border-right:0px;
    }
    #h{
        border-right: 1px solid black;
    }
    #i{
        width: 760px;
        height:150px;
        float: left;
        border: 1px solid black;
    }
}